@tailwind base;
@tailwind components;
@tailwind utilities;

.sakura_logo{
  font-family: 'Abril Fatface', system-ui;
}

body{
  background: #eeeaea;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
